<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
            <h1>IBT Restaurant</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/order">Place Order</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Learn more about Our Restaurant.</p>
        <p>Nestled in the heart of the city, our restaurant offers an unparalleled culinary experience that tantalizes the senses and delights the palate. <br><br>
With a passion for perfection and a commitment to quality, we source the finest ingredients locally and globally to create exquisite dishes that leave a lasting impression. <br><br>
Step into our elegant dining space and be greeted by warm ambiance and attentive service. Our talented chefs craft each dish with precision and creativity, showcasing flavors that harmonize perfectly and leave you craving for more. <br><br>
From succulent steaks cooked to perfection to delicate seafood dishes bursting with freshness, our menu caters to every palate. Vegetarian options abound, with vibrant salads and flavorful vegetable creations that are as satisfying as they are nutritious. <br><br>
Complement your meal with a selection from our extensive wine list, curated to pair perfectly with our culinary creations. Indulge in decadent desserts that offer a sweet conclusion to your dining experience. <br><br>
Whether you're celebrating a special occasion or simply craving a memorable meal, our restaurant is the ultimate destination for discerning diners seeking an extraordinary culinary journey. Come savor the flavors of excellence and embark on a gastronomic adventure unlike any other."
</p>
    </main>
    <footer>
        <p>&copy; 2024 IBT Restaurant</p>
    </footer>
</body>
</html>

